.wordQuizContainer {
  display: flex;
  justify-content: center;
}

.wordQuiz {
  margin: 30px;
  padding: 30px;
  border: solid 3px white;
}

.wordQuiz p {
  font-size: 30px;
}

.wordQuiz button {
  display: block;

  margin: 30px auto;
}
